/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #aeaef7;
    opacity: 0.8;
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #bfbffd 15px), repeating-linear-gradient(#1e238555, #444cf7);
}
